body* {
    font-family: 'Font1';
    text-align: center;
    padding: 20px;
    font-size: 170%;
}

#poem-content {
    font-family: 'Font1';
    font-size: 30px;
    transform-origin: top left;
    /* font-size-adjust: 0.5; */
}
.poem-container {
    /* border: 1px solid black; */
    margin: 20px;
    padding: 20px;
}

.controls {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

@font-face {
    font-family: 'Font1';
    src: url('fonts/HanyiSentyTriumphCalligraphy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: 'Font2';
    src: url('fonts/SentyWEN2017.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
